body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #182527; 
    color: white; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

header h1 {
    color: #20cd8d; 
    font-size: 2.5em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-box {
    background-color: #e0e0e0; 
    color: #333; 
    padding: 15px 30px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 25px; 
    font-size: 1.2em;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.link-box:hover {
    background-color: #d5d5d5; 
}
